Source: kvm-in-a-box
Maintainer: Daniel Gröber <dxld@darkboxed.org>
Priority: extra
Section: haskell
Build-Depends: debhelper (>= 9),
 haskell-devscripts (>= 0.8),
 cdbs,
 ghc,
 ghc-prof,
 libghc-quickcheck2-dev,
 libghc-aeson-dev,
 libghc-appar-dev,
 libghc-bifunctors-dev,
 libghc-byteorder-dev,
 libghc-mono-traversable-dev,
 libghc-network-dev,
 libghc-optparse-applicative-dev,
 libghc-parsec3-dev,
 libghc-pretty-show-dev,
 libghc-safe-dev,
 libghc-split-dev,
 libghc-temporary-dev,
 libghc-text-dev,
 libghc-unordered-containers-dev,
 libghc-uri-dev,
 libghc-doctest-dev,
 libghc-dbus-dev
Standards-Version: 3.9.6
X-Description: Single box KVM virtualization server
 A command line tool for easily managing virtual machines for multiple users.

Package: kvm-in-a-box
Architecture: any
Section: misc
Depends: ${haskell:Depends},
 ${misc:Depends},
 bridge-utils,
 iptables-persistent,
 sgabios,
 sudo (>= 1.7.2p1-1),
 qemu,
 p7zip-full,
 socat,
 dnsmasq,
 etckeeper,
 libpam-systemd
Recommends: ${haskell:Recommends},
Suggests: ${haskell:Suggests},
Conflicts: ${haskell:Conflicts},
Provides: ${haskell:Provides},
Description: ${haskell:ShortDescription}${haskell:ShortBlurb}
 ${haskell:LongDescription}
 .
 ${haskell:Blurb}
